config.private.env
.env
node_modules
info
unversioned
jmf
reports
utredningar
emails
files/**
test/**

_private/**

Faktura-nnn.pdf
invoice_x.pdf
send_commands.sh
log_invoices_*

# Eventor Cache, m.m
eventor-cache/
eventor*/

# python virtualenv
env/**

container/**

*.xls
*.xlsx
*.csv
*.pdf
*.pyc
*.zip
Faktur*
faktur*

# Backup folder
backup/

# Template file
#!Tjänster.xlsx
